<!DOCTYPE html>
<!--to delete this page-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SPORT BETTING</title>
    <link th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div class="card border-primary m-3">
    <div class="card-header bg-primary text-white">
        Account details
    </div>
    <div class="card-body text-grey">
        <form>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Name</div>
                </div>
                <input type="text" class="form-control" id="nameForm" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Date of Birth</div>
                </div>
                <input type="text" class="form-control" id="birthDateForm" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Account number</div>
                </div>
                <input type="text" class="form-control" id="accountNumber" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Currency</div>
                </div>
                <input type="text" class="form-control" id="currency" placeholder="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Blance</div>
                </div>
                <input type="number" class="form-control" id="balance" readonly>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

<div class="card border-primary m-3">
    <div class="card-header bg-primary text-white">
        Wagers
    </div>
    <div class="card-body text-grey">

        <table class="table">
            <thead>
            <tr>
                <th scope="col ">&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th scope="col">#</th>
                <th scope="col">Event title</th>
                <th scope="col">Event type</th>
                <th scope="col">Bet type</th>
                <th scope="col">Outcome value</th>
                <th scope="col">Outcome odd</th>
                <th scope="col">Wager amount</th>
                <th scope="col">Winner</th>
                <th scope="col">Processed</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td>1</td>
                <td>MTK-FTC 2018.01.12</td>
                <td>Football match</td>
                <td>Winner</td>
                <td>MTK</td>
                <td>1:2</td>
                <td>10 000 USD</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
