<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SPORT BETTING</title>
    <link th:href="@{/bootstrap-4.4.1-dist/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div class="d-flex justify-content-center text-white bg-dark">
    <div class="m-5">
        <h1 class="d-flex justify-content-center"><b>Welcome to SportsBet!</b></h1>
        <p>Sports betting is the activity of prediction sports results and placing a wager on the outcome.</p>
    </div>
</div>

<div>
    <h4><a href="/signin">Login</a> or <a href="/security/registration">Register</a> to start!</h4>
</div>
</body>
</html>
